/* index.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  background-color: #222;
  color: white;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

